<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->

<sections-sidebar></sections-sidebar>

<!-- End Header -->





  <div id="main-carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
          <img src="assets/img/1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="assets/img/5.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="assets/img/6.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="w3-card-4 w3-margin" style="width:95%">
          <div class="w3-display-container w3-text-white">
            <img src="assets/img/6.jpg" alt="Lights" style="width:100%">
            <div class="w3-xlarge w3-display-bottomleft w3-padding">LONDON 60&deg; F</div>
          </div>
          <div class="w3-row w3-gray">
            <div class="w3-third w3-center">
              <h3>MON</h3>
              <img src="img_weather_sun.jpg" alt="sun" style="width:80px">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="w3-card-4 w3-margin" style="width:95%">
          <div class="w3-display-container w3-text-white">
            <img src="assets/img/6.jpg" alt="Lights" style="width:100%">
            <div class="w3-xlarge w3-display-bottomleft w3-padding">LONDON 60&deg; F</div>
          </div>
          <div class="w3-row w3-gray">
            <div class="w3-third w3-center">
              <h3>MON</h3>
              <img src="img_weather_sun.jpg" alt="sun" style="width:80px">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="w3-card-4 w3-margin" style="width:95%">
          <div class="w3-display-container w3-text-white">
            <img src="assets/img/6.jpg" alt="Lights" style="width:100%">
            <div class="w3-xlarge w3-display-bottomleft w3-padding">LONDON 60&deg; F</div>
          </div>
          <div class="w3-row w3-gray">
            <div class="w3-third w3-center">
              <h3>MON</h3>
              <img src="img_weather_sun.jpg" alt="sun" style="width:80px">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="w3-card-4 w3-margin" style="width:95%">
          <div class="w3-display-container w3-text-white">
            <img src="assets/img/6.jpg" alt="Lights" style="width:100%">
            <div class="w3-xlarge w3-display-bottomleft w3-padding">LONDON 60&deg; F</div>
          </div>
          <div class="w3-row w3-gray">
            <div class="w3-third w3-center ">
              <h3>MON</h3>
              <img src="img_weather_sun.jpg" alt="sun" style="width:80px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX Designer &amp; Web Developer.</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 1 May 1995</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +123 456 7890</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : New York, USA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 30</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Master</li>
                <li><i class="icofont-rounded-right"></i> <strong>PhEmailone:</strong> email@example.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et
            ut.
            Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
            Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= XBox Section ======= -->

  <sections-xbox></sections-xbox>

  <!-- End XBox Section -->

  <!-- ======= Play Station Section ======= -->

  <sections-play-station></sections-play-station>

  <!-- End Play Station Section -->

  <!-- ======= PC Section ======= -->

  <sections-pc></sections-pc>

  <!-- End PC Section -->

  <!-- ======= Perfil ======= -->
  <sections-perfil *ngIf="isUserAuthenticated()"></sections-perfil>
  <!-- End Perfil Sections -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Games MX</span></strong>
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      Designed by <a href="https://bootstrapmade.com/">Equipo 2</a>
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
